<!--Footer-->
<footer class="page-footer font-small unique-color pt-0">

	<!--Footer Links-->
	<div class="container">

		<!--First row-->
		<div class="row">

			<!--First column-->
			<div class="col-md-12">

				<div class="mb-5 flex-center">

					<!--github-->
					<a href="https://github.com/brainchomper" target="blank">
						<i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
					</a>
					<!-- stackOverflow -->
					<a href="https://stackoverflow.com/users/9217650/kevin-smith?tab=profile" target="blank" class="nav-link">
						<i class="fab fa-stack-overflow fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
					</a>
					<!-- slack -->
					{{!-- <a class="nav-link">
						<i class="fab fa-slack fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
					</a> --}}
					<!--Linkedin-->
					<a href="https://www.linkedin.com/in/kvnsmith/" target="blank" class="li-ic">
						<i class="fab fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
					</a>
					<!--Twitter-->
					<a href="https://twitter.com/_kvnsmith" target="blank" class="tw-ic">
						<i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
					</a>
					{{!-- <a data-toggle="modal" data-target="#modalContactForm" class="na">
						<i class="fas fa-at fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
					</a> --}}

				</div>
			</div>
			<!--/First column-->
		</div>
		<!--/First row-->
	</div>
	<!--/Footer Links-->

	<!--Copyright-->
	<div class="footer-copyright py-3 text-center">
		<div class="container-fluid">
			© 2018
			<a href="https://kvnsmith.com"> Kevin Smith</a>
		</div>
	</div>
	<!--/Copyright-->

</footer>
<!--/Footer-->