	<header>

		<nav class="navbar fixed-top navbar-expand-lg navbar-dark unique-color">
			<a class="navbar-brand" href="/">
				<img class="img-fluid" src="./images/logo_sm.png" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="/" class="nav-link">About Me
							<span class="sr-only"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/portfolio">Portfolio</a>
					</li>
					<li class="nav-item">
						<a  data-toggle="modal" data-target="#modalContactForm" class="nav-link">Contact Me</a>
					</li>
				</ul>
				<ul class="navbar-nav nav-flex-icons">
					<li class="nav-item">
						<a href="https://github.com/brainchomper" target="blank" class="nav-link">
							<i class="fab fa-github"></i>
						</a>
					</li>
					{{!-- <li class="nav-item">
						<a class="nav-link">
							<i class="fab fa-slack"></i>
						</a>
					</li> --}}
					<li class="nav-item">
						<a href="https://stackoverflow.com/users/9217650/kevin-smith?tab=profile" target="blank" class="nav-link">
							<i class="fab fa-stack-overflow"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://www.linkedin.com/in/kvnsmith/" target="blank" class="nav-link">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li class="nav-item">
						<a data-toggle="modal" data-target="#modalContactForm" class="nav-link" data-placement="right" title="Tooltip on right">
							<i class="fas fa-at"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://twitter.com/_kvnsmith" target="blank" class="nav-link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>

	</header>