<div class="mainContent">
<div class="row rowContent">
	<div class="col">
		<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/night-out.jpg" alt="Card image cap">
				<a href="https://brainchomper.github.io/Team-Beards/" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">Plan Your Night Out</h4>
				<!-- Text -->
				<p class="card-text text-center">A jQuery app to search for events happening near by.</p>
				<!-- Button -->
				<a href="https://brainchomper.github.io/Team-Beards/" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		<!-- Card -->
	</div>
	<div class="col">

		<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/trivia.jpg" alt="Card image cap">
				<a href="https://brainchomper.github.io/portfolio/trivia-game/index.html" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">Futurama Trivia Game</h4>
				<!-- Text -->
				<p class="card-text text-center">A trivia game that uses jQuery</p>
				<!-- Button -->
				<a href="https://brainchomper.github.io/portfolio/trivia-game/index.html" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		
			</div>
	<div class="col">
				<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/broken-moon.jpg" alt="Card image cap">
				<a href="https://the-broken-moon.herokuapp.com/" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">The Broken Moon</h4>
				<!-- Text -->
				<p class="card-text text-center">A 8bit RPG game, using mySQL.</p>
				<!-- Button -->
				<a href="https://the-broken-moon.herokuapp.com/" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		<!-- Card -->
		</div>
</div>

<div class="row rowContent">
	<div class="col">
		<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/rock-paper-scissors.jpg" alt="Card image cap">
				<a href="https://brainchomper.github.io/Rock-Paper-Scissors/" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">Rock Paper Scissors</h4>
				<!-- Text -->
				<p class="card-text text-center">A two player game that utilizes Firebase.</p>
				<!-- Button -->
				<a href="https://brainchomper.github.io/Rock-Paper-Scissors/" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		<!-- Card -->
	</div>
	<div class="col">
		<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/giphy.gif" alt="Card image cap">
				<a href="https://brainchomper.github.io/portfolio/giphy-api-ajax/index.html" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">AJAX Giphy API</h4>
				<!-- Text -->
				<p class="card-text text-center">Connects to giphy api to find categories of gifs.</p>
				<!-- Button -->
				<a href="https://brainchomper.github.io/portfolio/giphy-api-ajax/index.html" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		<!-- Card -->
			</div>
	<div class="col">
				<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/friends.jpg" alt="Card image cap">
				<a href="https://brainchomper-friend-finder.herokuapp.com/" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">Friend Finder</h4>
				<!-- Text -->
				<p class="card-text text-center">Simple friend-finding dating app.</p>
				<!-- Button -->
				<a href="https://brainchomper-friend-finder.herokuapp.com/" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		<!-- Card -->
		</div>
</div>

<div class="row rowContent btmRow">
	<div class="col">
		<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/crystal-collector.jpg" alt="Card image cap">
				<a href="https://brainchomper.github.io/portfolio/crystal-calculator/index.html" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">Crystal Collector</h4>
				<!-- Text -->
				<p class="card-text text-center">A simple game to correctly match a random number.</p>
				<!-- Button -->
				<a href="https://brainchomper.github.io/portfolio/crystal-calculator/index.html" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>
		<!-- Card -->
	</div>
	<div class="col">
		<!-- Card -->
		<div class="card animated fadeIn hoverable">

			<!-- Card image -->
			<div class="view overlay">
				<img class="card-img-top" src="./images/hangman.jpg" alt="Card image cap">
				<a href="https://brainchomper.github.io/portfolio/hangman/index.html" target="blank">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title text-center">JS - HTML Hangman</h4>
				<!-- Text -->
				<p class="card-text text-center">A simple game where you can play Hangman.</p>
				<!-- Button -->
				<a href="https://brainchomper.github.io/portfolio/hangman/index.html" target="blank" class="btn btn-primary btn-lg btn-block animated hoverable">View Project</a>

			</div>

		</div>

		</div>
		<div class="col"></div>
</div>
{{!-- /mainContent --}}
</div>