<h1 class="text-center">Technical Skills</h1>
<p class="text-center">I specialize in front end development and design, with knowledge in system administration and back end development.</p>

{{!-- ROW 1 --}}
<div class="row">
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/html5.png" alt="HTML5" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">HTML5</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/css3.png" alt="CSS3" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">CSS3</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/git.png" alt="Git" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">Git</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/js.png" alt="JavaScrript" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">JavaScript</p>
			</div>
		</div>
	</div>
</div>

{{!-- ROW 2 --}}
<div class="row">
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/google.png" alt="Google Apps" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">Google Apps</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/bootstrap.png" alt="Bootstrap" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">Bootstrap</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/node.png" alt="node" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">Node</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/angular.png" alt="Angular" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">Angular</p>
			</div>
		</div>
	</div>
</div>
{{!-- row 3 --}}
<div class="row">
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/mysql.png" alt="mySQL" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">mySQL</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/mongo.png" alt="mongo" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">MongoDB</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/command-line.png" alt="Command Line" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">CMD Line</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card hoverable">
			<div class="card-body">
				<img src="./images/icons/wordpress.png" alt="Wordpress" class="img-fluid  techImg text-center">
				<hr>
				<p class="text-center">Wordpress</p>
			</div>
		</div>
	</div>
</div>