{{>nav}}
<!--Carousel Wrapper-->
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

	<!--Slides-->
	<div class="carousel-inner" role="listbox">
		<!--First slide-->
		<div class="carousel-item active">
			<container class="flex-center text-center ">
				<img class="d-block w-100 img1" src="./images/galaxy.jpg">

				<div class="carousel-caption mx-auto align-middle flex-center">
					<span class="h1-responsive typewrite align-middle flex-center" data-period="2000" data-type='[ "Hi, I&#8217m Kevin Smith.", "Your Full Stack M.E.R.N. Developer!", "I&#8217m hard working and creative.", "Started in Computer Network Systems (CNS).", "Let&#8217s make something functionally beautiful! together"]'></span>

				</div>
			</container>

		</div>
		<!--/First slide-->

	</div>
	<!--/.Slides-->
</div>
<div class="container-fluid main">
	{{>tech}}
	<hr>
	<h2 class="text-center">Contact</h2>
	<p class="text-center">I'd love to hear from you! Click the button below, email me <a href="mailto:kevin@kvnsmith.com">here</a>, find me on <a href="https://www.linkedin.com/in/kvnsmith/" target="blank">LinkedIn</a>, or <a href="https://github.com/brainchomper" target="blank">GitHub</a></p>

	{{!-- <div class="text-center">
		<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Contact Me</a>
	</div> --}}
	<!-- end container fluid -->
</div>
{{>modal}} {{>footer}}