{{>nav}}
	<!--Carousel Wrapper-->
	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

		<!--Slides-->
		<div class="carousel-inner" role="listbox">
			<!--First slide-->
			<div class="carousel-item active">
				<container class="flex-center text-center align-middle">
					<img class="d-block w-100 img1" src="./images/galaxy.jpg">

					<div class="carousel-caption">
						<h1 class="h1-responsive typewrite align-top" data-period="2000" data-type='[ "Hi, I&#8217m Kevin Smith.", "I&#8217m Hard Working, Creative, and a bit shy...", "I Love Design.", "I Love to Develop." ]'></h1>

					</div>
				</container>

			</div>
			<!--/First slide-->

		</div>
		<!--/.Slides-->
	</div>
	<div class="container-fluid main">


		<!-- contact -->

		<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold">Drop me a line!</h4>
					</div>
					<form action="" method="post" id="commentform">
					<div class="modal-body mx-3">
						<div class="md-form mb-5">
							<i class="fa fa-user prefix grey-text"></i>
							<input type="text" id="name" name="name" class="form-control validate" required>
							<label data-error="" data-success="" for="name">Your name</label>
						</div>

						<div class="md-form mb-5">
							<i class="fas fa-at prefix grey-text"></i>
							<input type="email" id="email" class="form-control validate" required>
							<label data-error="Email!" data-success="" for="email">Your email</label>
						</div>

						<div class="md-form mb-5">
							<i class="fa fa-tag prefix grey-text"></i>
							<input type="text" id="subject" class="form-control validate" required>
							<label data-error="" data-success="" for="subject">Subject</label>
						</div>

						<div class="md-form">
							<i class="fas fa-comment-alt prefix grey-text"></i>
							<textarea type="text" id="message" class="md-textarea form-control" rows="4" required></textarea>
							<label data-error="" data-success="" for="message" class="align-middle">Your message</label>
						</div>

					</div>

					<div class="modal-footer d-flex justify-content-center">
							<div class="g-recaptcha invisible"
							data-sitekey="6LeDiVcUAAAAAEXnqZivZ5nrPvvwQcE1h_WC8V7v"
							data-callback="submitMyForm"
							data-size="invisible">
					</div>
						<button class="btn btn-unique" id="submit">Send
							<i class="fas fa-share-square prefix white-text"></i>
						</button>
					</form>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Contact Me</a>
		</div>

		<!-- /contact -->
		<!-- end container fluid -->
	</div>
{{>footer}}