html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
}

.card {
	margin-bottom: 10px;
}

.carousel-caption {
	position: absolute;
	z-index: 10;
	/* padding-top: 20px;
	padding-bottom: 20px;
	bottom: 0px;
	right: 0px;
	left: 0px; */
	color: #fff;
	text-align: center;
}

.heading {
	font-weight: bold;
}

.carousel {
	margin-top: 85px;
}

.mainContent {
	width: 80%;
	margin: auto;
	margin-top: 105px;
}

.rowContent {
	margin-top: 20px;
}

/* .btmRow{
	margin-bottom: 20px;
} */

.nav {
	margin-bottom: 50px;
}

.main {
	width: 80%;
	margin-top: 20px;
	/* margin-bottom: 20px; */
}

.imgBox {
	background-image: url("../images/milky-way-2695569_1920.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.page-footer {
	margin-top: 10px;
}

.contact {
	background-color: #3F729B;
	color: white;
	text-decoration: white;
}

a.contact {
	text-decoration-color: white;
}

.textwrite {
	text-align: center;
	color: white;
	font-weight: 300;
}
.carousel{
	margin-top: 80px;
}
.carousel-caption {
	/* position: absolute; */
margin-top: 1px;
	/* top: 15%; */
}

.wrap {
	animation: caret .5s steps(1) infinite;
}

@keyframes caret {
	50% {
		border-color: transparent;
	}
}